<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load staticfiles %}
    <link href="{% static 'css/grid/flexboxgrid.min.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        <div class="row center-xs">
            <div class="col-xs-6">
                    <h1>Here</h1>
            </div>
        </div>
    </header>
    <body>
        
    </body>
    
</body>
</html>